.wrapper {
        width: 1000px;
        margin: 0 auto;
        font-family: sans-serif;
        font-size: 18px;
        line-height: 1.5;
        padding: 0;
}
/*Adding colors to make organization visually easier*/

body { 
    background-color: rgb(140, 160, 95);
}

section {
    background-color: brown;
}
/*Moving things around*/

nav {
    display: flex;
    justify-content: space-between;
}

